body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.name-highlight{
color: orange;

}

.half{
    width: 35%;
    float: left;
    margin: 5%;
    padding: 2%;
}


.half img{
    width: 125%;
}

.top-banner{
   
    background-image: url("developer-portfolio/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 600px;
    padding-bottom: 100px;
}

.link{
    text-decoration: none;
    background-image: linear-gradient(80deg, tomato, red);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}