body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;

}

h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.name-highlight{
color: orange;

}

.half{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}


.half img{
    width: 100%;

}

.top-banner{
   
    background-image: url("developer-portfolio/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 600px;
    padding-bottom: 100px;
}

.link{
    text-decoration: none;
    background-image: linear-gradient(80deg, tomato, red);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}
.dream{
    background-image: url(developer-portfolio/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.lover{
   box-shadow: 10px 10px 40px gray;
   border-radius: 10px;
   height: 80%;
   background-color: white;
}
.love{
    background-image: url(developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#lal{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}

#nil{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    font-size: 10px;
}